{% if anomaly %}
    <h1>Brief of the anomaly</h1>
    <ul>
        <li>Anomaly ID: {{ anomaly.id }}</li>
        <li>Anomaly type: {{ anomaly.type }}</li>
        <li>User reported anomaly: <a href="/diag/get_user?id={{ anomaly.user_id }}">{{ anomaly.user_id }}</a></li>
        <li>Session reported anomaly:<a href="/diag/get_session?id={{ anomaly.session_id }}">{{ anomaly.session_id }}</a></li>
        <li>Diagnosis time: {{ anomaly.timeToDiagnose }} seconds</li>
        <li>Timestamp: {{ anomaly.timestamp }}</li>
    </ul>
    <h2>Show causes for the anomaly </h2>
    <table style="width:100%">
        <tr>
            <td>Suspect Node</td>
            <td>Node Attribute</td>
            <td>Attribute ID</td>
            <td>Attribute Value</td>
            <td>Probablity to cause the anomaly</td>
        </tr>
        {% for cause in anomaly.causes.all|dictsortreversed:"prob" %}
        <tr>
            <td><a href="/diag/get_node?id={{ cause.node.id }}"> {{ cause.node }} </a></td>
            <td> {{ cause.attribute }} </td>
            <td><a href="/diag/get_{{ cause.attribute }}?id={{ cause.attribute_id }}"> {{ cause.attribute_id }} </a></td>
            <td> {{ cause.attribute_value }} </td>
            <td> {{ cause.prob }} </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Please denote the anomaly_id in the url: http://locator/diag/get_anomaly?id=anomaly_id</p>
{% endif %}
