<!doctype html>
<html>
<head>
    <title>Anomaly Graph</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <script src="/static/draw_anomaly.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />


    <style type="text/css">
        table, td, th {
            border-collapse: collapse;
            border: 1px solid darkgray;
        }

        #anomaly-router-topology {
            width: 100%;
            height: 500px;
            border: 1px solid lightgray;
        }

        #anomaly-network-topology {
            width: 100%;
            height: 500px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body onload="draw()">
{% if anomaly %}
    <h1>Brief of the anomaly</h1>
    <ul>
        <li>Anomaly ID: {{ anomaly.id }}</li>
        <li>Anomaly type: {{ anomaly.type }}</li>
        <li>User reported anomaly: <a href="/diag/get_user?id={{ anomaly.user_id }}">{{ anomaly.user_id }}</a></li>
        <li>Session reported anomaly:<a href="/diag/get_session?id={{ anomaly.session_id }}">{{ anomaly.session_id }}</a>
            <ul>
                <li>Session client: <a href="/diag/get_node?id={{ session.client.id }}&anomaly={{ anomaly.id }}">{{ session.client.ip }} </a></li>
                <li>Session server: <a href="/diag/get_node?id={{ session.server.id }}&anomaly={{ anomaly.id }}">{{ session.server.ip }} </a></li>

            </ul>
        </li>
        <li>Diagnosis time: {{ anomaly.timeToDiagnose }} seconds</li>
        <li>Related Sessions:
            {% for status in anomaly.related_session_status.all %}
                <a href="/diag/get_session?id={{ anomaly.session_id }}">{{ status.session_id }}:{{ status.isGood }}</a>,
            {% endfor %}
            <ul>
                <li><a href="/diag/get_updates?anomaly={{ anomaly.id }}">Get all updates from related sessions</a></li>
                <li><a href="/diag/get_status?anomaly={{ anomaly.id }}">Get all statuses from related sessions</a></li>
            </ul>
        </li>
        <li>Timestamp: {{ anomaly.timestamp }}</li>
    </ul>
    <hr>
    <h2>Anomaly localization router-level topology</h2>
    <a href="/diag/get_ano_graph_json?id={{ anomaly.id }}">Get the graph json file</a>
    <div id="anomaly-router-topology"></div>
    <hr>
    <h2>Anomaly localization network-level topology</h2>
    <a href="/diag/get_ano_network_topology_json?id={{ anomaly.id }}">Get the graph json file</a>
    <div id="anomaly-network-topology"></div>
    <hr>
    <h2>Network measurement during anomaly period (probed by Azure agents)</h2>
    <div id="anomaly-netAzLatencies"></div>
    <hr>
    <h2>Network measurement during anomaly period (probed by Planetlab agents)</h2>
    <div id="anomaly-netPlLatencies"></div>
    <hr>
    <h2>Link latency measurement during anomaly period (probed by Traceroute)</h2>
    <div id="anomaly-linkLatencies"></div>
    <hr>
    <h2>Show causes for the anomaly </h2>
    <a href="/diag/update_qoe_score?id={{ anomaly.id }}">Update attribute QoE score</a>
    <table style="width:100%">
        <tr>
            <td>Suspect Nodes</td>
            <td>Origin Type</td>
            <td>Origin ID</td>
            <td>Origin Value</td>
            <td>Probablity to cause the anomaly</td>
            <td># of sessions reported</td>
            <td>IDs of sessions</td>
            <td>Attribute QoE Score</td>
        </tr>
        {% for cause in anomaly.causes.all|dictsortreversed:"prob" %}
        <tr>
            <td>
                {% for node in cause.suspects.all %}
                    <a href="/diag/get_node?id={{ node.id }}&anomaly={{ anomaly.id }}"> {{ node }}</a><br>
                {% endfor %}
            </td>
            <td> {{ cause.type }} </td>
            <td><a href="/diag/get_{{ cause.type }}?id={{ cause.obj_id }}"> {{ cause.obj_id }} </a></td>
            <td> {{ cause.value }} </td>
            <td> {{ cause.prob }} </td>
            <td> {{ cause.related_session_status.count }} </td>
            <td>
                {% for status in cause.related_session_status.all %}
                    <a href="/diag/get_session?id={{ status.session_id }}">{{ status.session_id }}</a>:{{ status.isGood }},
                {% endfor %}
                <a href="/diag/get_status?type={{ cause.type }}&id={{ cause.obj_id }}&anomaly={{ anomaly.id }}">All Status</a>
            </td>
            <td>
                {{ cause.qoe_score }}, <a href="/diag/get_updates?type={{ cause.type }}&id={{ cause.obj_id }}&anomaly={{ anomaly.id }}">All Values</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Please denote the anomaly_id in the url: http://locator/diag/get_anomaly?id=anomaly_id</p>
{% endif %}

<script type="text/javascript">
    function draw() {
        var anomaly_id = {{ anomaly.id|safe }};
        drawAnomalyRouterTopology(anomaly_id, "anomaly-router-topology");
        drawAnomalyNetworkTopology(anomaly_id, "anomaly-network-topology");
        var client_ip = "{{ session.client.ip }}";
        var server_ip = "{{ session.server.ip }}";
        var anomalyTS = {{ anomaly.timestamp|date:"U" }};
        var get_monitor_session_url = "http://monitor.cmu-agens.com/get_session_json?client=" + client_ip + "&server=" + server_ip;
        $.getJSON(get_monitor_session_url, function (data) {
            var net_ids = data["networks"];
            var link_ids = data["links"];
            console.log(data);
            console.log(net_ids);
            console.log(anomalyTS);
            drawLatencies(net_ids, "network", "azure", "anomaly-netAzLatencies", anomalyTS);
            drawLatencies(net_ids, "network", "planetlab", "anomaly-netPlLatencies", anomalyTS);
            drawLatencies(link_ids, "link", "all", "anomaly-linkLatencies", anomalyTS);
        })
    }
</script>
</body>
