{% if user %}
    <h1>Show anomalies for user : {{ user.name }} </h1>
{% endif %}
{% if anomalies %}
<table style="width:100%">
    <tr>
        <td>Anomaly ID</td>
        <td>Anomaly Type</td>
        <td>Session reporting anomaly</td>
        <td>User reporting anomaly</td>
        <td>Related Sessions</td>
        <td>Diagnosis time</td>
        <td>Anomaly Timestamp</td>
    </tr>
    {% for anomaly in anomalies %}
    <tr>
        <td><a href="/diag/get_anomaly?id={{ anomaly.id }}"> {{ anomaly.id }} </a></td>
        <td> {{ anomaly.type }} </td>
        <td><a href="/diag/get_session?id={{ anomaly.session_id }}"> Session {{ anomaly.session_id }} </a></td>
        <td><a href="/diag/get_user?id={{ anomaly.user_id }}"> User {{ anomaly.user_id }} </a></td>
        <td>
            {% for session_status in anomaly.related_session_status.all %}
                <a href="/diag/get_session?id={{ anomaly.session_id }}">{{ session_status.session_id }}</a>:{{ session_status.isGood }},
            {% endfor %}
        </td>
        <td> {{ anomaly.timeToDiagnose }} </td>
        <td> {{ anomaly.timestamp }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No anomalies have been detected.</p>
{% endif %}
