<h1>Cloud Agent for Diagnosis {{ name }}</h1>
<h2>IP: {{ ip }}</h2>
<br>
<h2>Following APIs show data on webpages</h2>
<ul>
    <li><a href="/diag/show_clients">Show all clients connecting to the cloud agent</a></li>
    <li><a href="/diag/show_networks">Show all networks that are involved in the video sessions that are managed by current cloud agent</a></li>
    <li><a href="/diag/show_nodes">Show all nodes that are involved in the video sessions that are managed by current cloud agent</a></li>
    <li><a href="/diag/show_servers">Show all servers that are involved in the video sessions that are managed by current cloud agent</a></li>
    <li><a href="/diag/show_devices">Show all devices for video sessions that are managed by current cloud agent</a></li>
    <li><a href="/diag/show_updates">Show all updates that have been sent to current cloud agent</a></li>
    <li><a href="/diag/show_events">Show all events that have been reported to current cloud agent</a></li>
    <li><a href="/diag/show_anomalies">Show all anomalies that have been detected on clients and diagnosed on current cloud agent</a></li>
    <li><a href="/diag/dump_anomalies">Dump all anomalies and their diagnosis results in a json file named, "anomalies.json"</a></li>
    <li><a href="/diag/delete_anomalies">Delete all anomalies in the database</a></li>
</ul>
<br>
<h2>Following APIs are called to show details of a particular variable</h2>
<ul>
    <li>http://{{ ip }}/diag/get_network?id=network_id</li>
    Get the details of the network information by its ID.
    <li>http://{{ ip }}/diag/edit_network?id=network_id</li>
    Edit the network information.
    <li>http://{{ ip }}/diag/get_diag_result?id=anomaly_id</li>
    Get the details of diagnosis results for QoE anomaly with ID.
</ul>
<br>
<h2>Following APIs are called by clients for diagnosis purpose</h2>
<ul>
    <li><b>POST method</b>http://{{ ip }}/diag/add</li>
    Post the client information to the cloud agent. The API will update the client's server, route, network, device info, etc.
    <li><b>GET method</b>http://{{ ip }}/diag/update?client=client_ip&server=server_ip&qoe=mean_qoe_value <br>
    When the client is experiencing acceptable QoE, the client send good QoE updates to the cloud agent. The cloud agent appends such updates to important attributes that are involved in streaming, including device info, networks, server, etc.
        <ul>
            <li><b>client_ip</b> The client ip address</li>
            <li><b>server_ip</b> The ip of the server that is the CDN server the client streams video from.</li>
            <li><b>mean_qoe_value</b> The average QoE value in the previous detection period which do not have QoE anomalies detected.</li>
        </ul>
    </li>
    <li><b>GET method</b>http://{{ ip }}/diag/addEvent?client=client_ip&typ=event_type&prev=previous_value&cur=current_value<br>
    When the client has an event, such as changing server, upgrade video player software, etc, it reports the event to the cloud agent.
        <ul>
            <li><b>client_ip</b> The client ip address</li>
            <li><b>event_type</b> The type of event, such as server changing, software upgrades, os upgrades, etc.</li>
            <li><b>previous_value</b> The attribute value before the event happens, such as the server ip before server changing.</li>
            <li><b>current_value</b> The attribute value after the event happens, such as the server ip after server changing.</li>
        </ul>
    </li>
    <li><b>GET method</b>http://{{ ip }}/diag/diag?client=client_ip&server=server_ip&qoe=mean_qoe_value&type=anomaly_type <br>
    When a QoE anomaly is detected by the client agent, the client send diag request to the cloud agent to diagnose the causes of the anomaly.
        <ul>
            <li><b>client_ip</b> The client ip address</li>
            <li><b>server_ip</b> The ip of the server that is the CDN server the client streams video from.</li>
            <li><b>mean_qoe_value</b> The average QoE value in the previous detection period which do detect QoE anomaly.</li>
            <li><b>anomaly_type</b> The type of the QoE anomaly, including occasional/recurrent/persistent.</li>
        </ul>
    </li>
</ul>

