<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISP</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/draw_networks.js"></script>

    <style type="text/css">
        #mynetwork {
            width: 60%;
            height: 300px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body onload="draw()">
<h1>Show details for ISP: {{ isp.name }}</h1>
<h2>AS #: {{ isp.ASNumber }}</h2>
<h2>ISP Type: {{ isp.type }}</h2>
<h2>Cover networks at following locations</h2>
<table style="width:100%">
    <tr>
        <td>ID (Edit)</td>
        <td>Name</td>
        <td>AS</td>
        <td>Location, City, Region, Country</td>
        <td>Latest Check</td>
    </tr>
    {% for network in isp.networks.all %}
        <tr>
        <td><a href="/diag/get_network?id={{ network.id }}"> {{ network.id }} </a></td>
        <td> {{ network.isp.name }} </td>
        <td> AS {{ network.isp.ASNumber }} </td>
        <td> ( {{ network.latitude }} , {{ network.longitude }} ), ({{ network.city }}, {{ network.region }}, {{ network.country }})</td>
        <td>{{ network.latest_check }}</td>
    {% endfor %}
</table>
<h2>Directly peering with following ISPs</h2>
<table style="width:100%">
    <tr>
        <td>ISP Name</td>
        <td>ISP AS #</td>
        <td># of networks in different locations</td>
        <td># of ips discovered</td>
    </tr>
    {% for peer_isp in peers %}
        <tr>
            <td> {{ peer_isp.name }} </td>
            <td> <a href="/diag/get_isp?as={{ peer_isp.ASNumber }}">AS {{ peer_isp.ASNumber }} </a></td>
            <td> {{ peer_isp.networks.count }}</td>
            <td> {{ peer_isp.get_size }} </td>
        </tr>
    {% endfor %}
</table>
<h2>Networks within the ISP</h2>
<div id="mynetwork"></div>
<h2><a href="/diag/del_isp?as={{ isp.ASNumber }}">Delete this ISP</a></h2>
<script type="text/javascript">
    function draw() {
        var id = {{ isp.ASNumber|safe }};
        var url = "/diag/get_isp_network_graph_json?as=" + id;
        console.log(url);
        drawNetworkGraph(url);
    }
</script>
</body>
</html>
