{% if network %}
<ul>
    <li>Network ID: {{ network.id }}</li>
    <li>Network Name: {{ network.name }}</li>
    <li>Network Type: {{ network.type }}</li>
    <li>Network AS #: {{ network.ASNumber }}</li>
    <li>Network location: ({{ network.latitude }}, {{ network.longitude }})</li>
	<li>City: {{ network.city }}</li>
	<li>Region: {{ network.region }}</li>
	<li>Country: {{ network.country }}</li>
</ul>
{% else %}
    <p>No network information denoted by {{ networkID }}.</p>
{% endif %}
<div>
    <a href="/diag/edit_network?id={{ network.id }}">Edit</a>
</div>
<hr>
<div>
    <h2>Show nodes in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Name</td>
            <td>IP</td>
            <td>Type</td>
            <td>Node Network</td>
            <td>Latest Check</td>
        </tr>
        {% for node in network.nodes.all %}
        <tr>
            <td> {{ node.name }} </td>
            <td> {{ node.ip }} </td>
            <td> {{ node.type }} </td>
            <td> {{ node.network_id }} </td>
            <td> {{ node.latest_check }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if edges %}
<div>
    <h2>Show edges in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Source Node</td>
            <td>Source Node Network</td>
            <td>Target Node</td>
            <td>Target Node Network</td>
        </tr>
        {% for edge in edges.all %}
        <tr>
            <td> {{ edge.src.name }} </td>
            <td> {{ edge.src.network_id }} </td>
            <td> {{ edge.dst.name }} </td>
            <td> {{ edge.dst.network_id }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<hr>
<div>
    <h2>Show updates on this network</h2>
        <table style="width:100%">
            <tr>
                <td>Session ID</td>
                <td>QoE</td>
                <td>User satisfied?</td>
                <td>Timestamp</td>
            </tr>
            {% for update in network.updates.all|dictsortreversed:"timestamp"|slice:"10" %}
                <tr>
                    <td><a href="/diag/get_session?id={{ update.session_id }}">{{ update.session_id }}</a></td>
                    <td>{{ update.qoe }}</td>
                    <td>{{ update.satisfied }}</td>
                    <td>{{ update.timestamp }}</td>
                </tr>
            {% endfor %}
        </table>
</div>