<head>
    <title>Network | Basic usage</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 60%;
            height: 200px;
            border: 1px solid lightgray;
        }
        #QoE {
            width: 100%;
            height: 300px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body onload="draw()">
{% if network %}
<ul>
    <li>Network ID: {{ network.id }}</li>
    <li>Network Name: {{ network.isp.name }}</li>
    <li>Network Type: {{ network.isp.type }}</li>
    <li>Network AS #: <a href="/diag/get_isp?as={{ network.isp.ASNumber }}">{{ network.isp.ASNumber }}</a></li>
    <li>Network location: ({{ network.latitude }}, {{ network.longitude }})</li>
	<li>City: {{ network.city }}</li>
	<li>Region: {{ network.region }}</li>
	<li>Country: {{ network.country }}</li>
</ul>
{% else %}
    <p>No network information denoted by {{ networkID }}.</p>
{% endif %}
<div>
    <a href="/diag/edit_network?id={{ network.id }}">Edit</a>
</div>
<hr>
<div id="network"></div>
<hr>
<div>
    <h2>Show nodes in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Name</td>
            <td>IP</td>
            <td>Type</td>
            <td>Node Network</td>
            <td>Latest Check</td>
        </tr>
        {% for node in network.nodes.all %}
        <tr>
            <td> {{ node.name }} </td>
            <td> {{ node.ip }} </td>
            <td> {{ node.type }} </td>
            <td> {{ node.network_id }} </td>
            <td> {{ node.latest_check }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if edges %}
<div>
    <h2>Show edges in the network</h2>
    <table style="width:100%">
        <tr>
            <td>Source Node</td>
            <td>Source Node Network</td>
            <td>Target Node</td>
            <td>Target Node Network</td>
        </tr>
        {% for edge in edges.all %}
        <tr>
            <td> {{ edge.src.name }} </td>
            <td> {{ edge.src.network_id }} </td>
            <td> {{ edge.dst.name }} </td>
            <td> {{ edge.dst.network_id }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<hr>
<div id="QoE"></div>
<hr>
<div>
    <h2>Show updates on this network</h2>
        <table style="width:100%">
            <tr>
                <td>Session ID</td>
                <td>QoE</td>
                <td>User satisfied?</td>
                <td>Timestamp</td>
            </tr>
            {% for session in network.related_sessions.all %}
                {% for update in session.updates.all|dictsortreversed:"timestamp"|slice:"5" %}
                    <tr>
                        <td><a href="/diag/get_session?id={{ update.session_id }}">{{ update.session_id }}</a></td>
                        <td>{{ update.qoe }}</td>
                        <td>{{ update.satisfied }}</td>
                        <td>{{ update.timestamp }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
</div>
<script type="text/javascript">
    var nodes = null;
    var edges = null;
    var network = null;

    var EDGE_LENGTH_MAIN = 50;
    var EDGE_LENGTH_SUB = 10;

    function draw(){
        drawQoE();
        drawNetwork();
    }

    function drawQoE() {
        Array.prototype.contains = function(obj) {
            var i = this.length;
            while (i--) {
                if (this[i] == obj) {
                    return true;
                }
            }
            return false;
        };

        var container = document.getElementById('QoE');
        var network_id = {{ network.id|safe }};
        var url = "/diag/get_updates_json?id=" + network_id.toString() + "&type=network";
        $.getJSON(url, function (json) {
            var items = json.updates;
            var unique_groups = [];
            for (var i = 0; i < items.length; i ++) {
                if (unique_groups.contains(items[i].group)) {
                    continue;
                }
                unique_groups.push(items[i].group);
                items[i].label = "value: " + items[i].y;
            }

            var groups = new vis.DataSet();
            for (var j = 0; j < unique_groups.length; j ++){
                groups.add({
                   id: unique_groups[j],
                   content: "Session " + unique_groups[j].toString()
                });
            }

            // console.log(unique_groups);
            var dataset = new vis.DataSet(items);
            var options = {
                start: json.start,
                end: json.end,
                legend: true,
                dataAxis: {left: {title: {text: "QoE updates"}}},
                width: '100%',
                height: '300px',
                style: 'line'
            };
            var Graph2d = new vis.Graph2d(container, dataset, groups, options);
        });
    }

    // Called when the Visualization API is loaded.
    function drawNetwork() {
        // Create a data table with nodes.
        var url = '/diag/get_network_json?id=';
        var network_id = {{ network.id }};
        url = url + network_id.toString();
        console.log(url);
        $.getJSON(url, function (json) {
            var org_nodes = json['nodes'];
            var nodes = [];

            // Create a data table with links.
            var links = json['edges'];
            var edges = [];

            var nodeNumber = org_nodes.length;
            for (var i = 0; i < nodeNumber; i++) {
                nodes.push({
                    id: i,
                    nid: org_nodes[i]['id'],
                    label: org_nodes[i]['name'],
                    type: org_nodes[i]['type'],
                    image: "/static/" + org_nodes[i]['type'].concat("-router.png"),
                    shape: 'image'
                });
            }

            var edgeNumber = links.length;
            for (var j = 0; j < edgeNumber; j++) {
                edges.push({from: links[j]['source'], to: links[j]['target'], length: EDGE_LENGTH_SUB})
            }

            // create a network
            var container = document.getElementById('network');
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                layout: {
                    improvedLayout:true,
                    hierarchical: {
                        enabled:false,
                        direction: "RL"
                    }
                }
            };
            network = new vis.Network(container, data, options);
            network.on('selectNode', function (params) {
                console.log(params);
                var nodeID = params['nodes'][0];
                console.log(nodeID);
                var node = nodes[nodeID];
                console.log(node);
                var url = "/diag/";
                console.log(url);
                document.location.href=url + "get_node?id=" + node["nid"];
            });
        });
    }
</script>
</body>