<!DOCTYPE HTML>
<html>
<head>
    <title>Graph2d or Basic Example</title>

    <style type="text/css">
        body, html {
            font-family: sans-serif;
        }
    </style>

    <style type="text/css">
        #timecurve {
            width: 70%;
            border: 1px solid lightgray;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{% if node %}
    <ul>
        <li>Node Name: {{ node.name }}</li>
        <li>Node IP: {{ node.ip }}</li>
        <li>Node type: {{ node.type }}</li>
        <li>Node Network: <a href="/diag/get_network?id={{ node.network_id }}"> {{ node.network_id }} </a></li>
        <li>Updated timestamp: {{ node.latest_check }}</li>
    </ul>

    <div id="timecurve"></div>

    <div>
        <h2>Show updates on this node</h2>
        <table style="width:100%">
            <tr>
                <td>Session ID</td>
                <td>QoE</td>
                <td>User satisfied?</td>
                <td>Timestamp</td>
            </tr>
            {% for update in node.updates.all|dictsortreversed:"timestamp"|slice:"10" %}
                <tr>
                    <td><a href="/diag/get_session?id={{ update.session_id }}">{{ update.session_id }}</a></td>
                    <td>{{ update.qoe }}</td>
                    <td>{{ update.satisfied }}</td>
                    <td>{{ update.timestamp }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>No node ip denoted.</p>
{% endif %}
<script type="text/javascript">
    Array.prototype.contains = function(obj) {
        var i = this.length;
        while (i--) {
            if (this[i] == obj) {
                return true;
            }
        }
        return false;
    };
    var container = document.getElementById('timecurve');
    var node_id = {{ node.id|safe }};
    var url = "/diag/get_nupdates_json?id=" + node_id;
    $.getJSON(url, function (json) {
        var items = json.updates;
        var unique_groups = [];
        for (var i = 0; i < items.length; i ++) {
            if (unique_groups.contains(items[i].group)) {
                continue;
            }
            unique_groups.push(items[i].group);
        }

        var groups = new vis.DataSet();
        for (var j = 0; j < unique_groups.length; j ++){
            groups.add({
               id: unique_groups[j],
               content: "Session " + unique_groups[j].toString()
            });
        }

        console.log(unique_groups);

        var dataset = new vis.DataSet(items);
        var options = {
            start: json.start,
            end: json.end,
            legend: true,
            dataAxis: {left: {title: {text: "QoE updates"}}},
            width: '400px',
            height: '200px',
            style: 'surface'
        };
        var Graph2d = new vis.Graph2d(container, dataset, groups, options);
    });
</script>
</body>
</html>