{% if server %}
    <h1>Show updates for server: {{ server.ip }}</h1>
    <table style="width:100%">
    <tr>
        <td>Update ID</td>
        <td>Client IP</td>
        <td>Server IP</td>
        <td>QoE</td>
        <td>Timestamp</td>
    </tr>
    {% for update in server.updates.all|dictsortreversed:"timestamp" %}
    <tr>
        <td> {{ update.id }} </td>
        <td> {{ update.client_ip }} </td>
        <td> {{ update.server_ip }} </td>
        <td> {{ update.qoe }} </td>
        <td> {{ update.timestamp }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No servers' info are available.</p>
{% endif %}