{% if updates %}
<table style="width:100%">
    <tr>
        <td>Update ID</td>
        <td>Session ID</td>
        <td>QoE</td>
        <td>Timestamp</td>
    </tr>
    {% for update in updates %}
    <tr>
        <td> {{ update.id }} </td>
        <td><a href="/diag/get_session?id={{ update.session_id }}"> {{ update.session_id }} </a></td>
        <td> {{ update.qoe }} </td>
        <td> {{ update.timestamp }} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No updates have been reported in the Update Table.</p>
{% endif %}
