{% if anomalies %}
<table style="width:100%">
    <tr>
	<td>ID</td>
	<td>Client</td>
	<td>Anomaly Graph</td>
	<td>Normal Hops</td>
	<td>Anomaly Hops</td>
	<td>Time</td>
	<td>Peers</td>
    </tr>
    {% for anomaly in anomalies %}
    <tr>
        <td> {{ anomaly.id }} </td> 
        <td> {{ anomaly.client }} </td> 
        <td><a href="/locator/anomalyGraph?id={{ anomaly.id }}">Show Graph</a></td> 
	<td> {{ anomaly.normal }} </td> 
	<td> {{ anomaly.abnormal }} </td> 
	<td> {{ anomaly.timestamp }} </td> 
	<td> {{ anomaly.peers }} </td> 
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No anomalies detected.</p>
{% endif %}
