<!DOCTYPE html>
<style>
  .link {
    stroke: #ccc;
  } 
  .node text {
    pointer-events: none;
    font: 10px sans-serif;
  }
</style>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
var width = $(window).width()*0.9,
    height = $(window).height()*0.9;
//var color = d3.scale.category20();
var color = d3.scale.ordinal()
    .domain(["Bad", "Suspect", "Good"])
    .range(["#B71C1C", "#ff9900", "#109618"]);
var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);
var force = d3.layout.force()
    .gravity(.1)
    .distance(40)
    .charge(-120)
    .size([width, height]);
var id = "{{ id }}";
var url = "/locator/anomalyJson?id=" + id
d3.json(url, function(error, json) {
  console.log(json);
  if (error) throw error;
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();
  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link");
  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);
  node.append("circle")
      .attr("r", 10)
      .style("fill", function(d) {return color(d.group)});
  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });
  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
  
  var legend = svg.selectAll(".legend")
    .data(color.domain())
    .enter().append("g")
    .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

legend.append("rect")
    .attr("x", width - 18)
    .attr("width", 18)
    .attr("height", 18)
    .style("fill", color);

legend.append("text")
    .attr("x", width - 24)
    .attr("y", 9)
    .attr("dy", ".35em")
    .style("text-anchor", "end")
    .text(function(d) { return d; });
});
</script>
</body>
