{% if nodes %}
<table style="width:100%">
    <tr>
	<td>Name</td>
	<td>IP</td>
	<td>Type</td>
	<td>AS</td>
	<td>ISP</td>
	<td>City</td>
	<td>Region</td>
	<td>Country</td>
	<td width="12%">Updates</td>
    </tr>
    {% for node in nodes %}
    <tr>
        <td> {{ node.name }} </td> 
	<td> {{ node.ip }} </td> 
	<td> {{ node.nodeType }} </td> 
	<td> {{ node.AS }} </td> 
	<td> {{ node.ISP }} </td> 
	<td> {{ node.city }} </td> 
	<td> {{ node.region }} </td> 
	<td> {{ node.country }} </td> 
	<td width="12%"> 
        ==========================================<br>
        {% for update in node.updates.all %}
             ({{ update.client }}, {{ update.server }}) {{ update.state }}  {{ update.timestamp }}<br>
    	{% endfor %}
        ==========================================
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No nodes have been added in the Node Table.</p>
{% endif %}
